IS_DEV = 0
IS_DEBUG = 1

FIESTA_DATA_PATH = {{ fiesta_data_path }}
FIESTA_DIRECTUS_ADMIN_EMAIL = {{ directus_admin_email }}
FIESTA_DIRECTUS_ADMIN_PASSWORD = {{ directus_admin_password }}
FIESTA_DIRECTUS_KEY = {{ directus_key }}
FIESTA_DIRECTUS_SECRET = {{ directus_secret }}
