@import '../../../css/typography.module.css';
@import '../../../css/variables.css';

.page {
  max-width: 1000px;
  margin: 0 auto;
}

.titleContainer {
  display: flex;
  padding: var(--size-8);
}

.backButton {
  @mixin font-header-32-32;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  height: var(--size-8);
  top: var(--size-8);
  left: var(--size-8);
  cursor: pointer;
}

.arrow {
  display: inline-block;
  height: var(--size-11);
}

.eventCards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: var(--size-8);
  justify-content: space-around;
}

.cardsRow {
  display: flex;
  flex-direction: row;
}

.cardContainer {
  flex-basis: 0;
  flex-grow: 1;
  padding: var(--size-2);
  margin-bottom: var(--size-4);
  gap: var(--size-12);

  &.withoutBorder {
    border: none;
  }
}

.eventCard {
  @mixin font-regular24_24;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  box-sizing: border-box;
  border: 1px solid var(--color-text-secondary);
  padding: var(--size-2);
  margin-bottom: var(--size-4);
}

.eventCard:nth-child(1) {
  margin-right: var(--size-2);
}

.eventCard:nth-child(2) {
  margin-left: var(--size-2);
}

.eventCardDate {
  opacity: 0.5;
}
